.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.pr_column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  margin-left: 5%;
  padding: 0 8px;
}
.front-img-flex {
  flex-direction: row;
  justify-content: space-between;
}
.front-img-size {
  width: 330px;
  height: 220px;
  margin-left: 2rem;
}
.div-size {
  width: 48%;
}
.navbar-toggler-icon,
.navbar-toggler-icon::after,
.navbar-toggler-icon::before {
  background-color: #172f4b !important;
}
.service img {
  transition: transform 0.4s;
  height: 10rem;
  padding: 1rem;
}
.service img:hover {
  transform: scale(0.85);
}

.service p {
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #172f4b;
  text-transform: uppercase;
}

.service a i {
  color: #e55c2c;
  transition: transform 0.4s;
}
.service a i:hover {
  transform: rotate(90deg);
}
.service-header {
  font-weight: 300;
}
.img-banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.solutions-image {
  height: 350px;
}

.map{
  width: 100%;
  height: auto;
}


@media screen and (max-width: 850px) {
  .img-banner {
    height: 250px;
  }
  .front-img-flex {
    flex-direction: column-reverse;
  }
  .column {
    width: 100%;
    display: block;
  }
  .pr_column {
    width: 100%;
    display: block;
  }
  .front-img-flex {
    flex-direction: column-reverse;
  }
  .front-img-size {
    width: 330px;
    height: 220px;
    margin: auto;
    padding: 0;
    margin-top: 2rem;
  }
  .div-size {
    width: 100%;
  }

  .hero {
    padding: 0 !important;
  }

  .hero-text {
    padding: 2rem;
    width: 100% !important;
  }

  .our-values {
    flex-direction: column !important;
  }
  .our-values img {
    width: auto;
    margin: auto;
  }
  .img-banner {
    height: 150px;
  }

  .our-mission {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .reverse-column-mission {
    flex-direction: column-reverse !important;
  }
}

.team_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team_container {
  padding: 0 16px;
  color: #172f4b;
}

.team_container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.team_title {
  color: grey;
}

.team_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.team_button:hover {
  background-color: #555;
}
.img-size {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: max-content;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 35rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: max-content;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img {
  height: 20rem;
  width: auto;
  object-fit: contain;
}

h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Vidaloka", serif;
  color: #000;
}
.btn-default {
  background: #e55c2c;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: 10px solid #97a8bb;
  margin-bottom: 10px;
}
.card-01 .card-body {
  position: relative;
}

.profile-box {
  background-size: cover;
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}
.profile-box:before {
  background-color: #777777;
  width: 100%;
  position: absolute;
  content: "";
  left: -10%;
  top: 0;
  z-index: 0;
}
.profile-box img {
  width: 250px;
  height: 250px;
  position: relative;
  border: 5px solid #f08762;
  object-fit: contain;
  object-position: bottom center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-01 .height-fix .card-img-overlay {
  top: inherit;
  color: #fff;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1e5799),
    color-stop(100%, #7db9e8)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #7db9e8 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #1e5799 0%,
    #7db9e8 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%); /* IE10+ */
}
.card-01 .height-fix .fa {
  color: #fff;
  font-size: 22px;
  margin-right: 18px;
}
.card-01 .height-fix .card-img-top {
  width: auto;
  height: 100%;
}

/*flipper-card*/
.card-flipper {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  height: 600px;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}

.card__back .card {
  width: 100%;
  height: 100%;
}

.card__back p {
  font-size: 16px;
  text-align: justify;
  color: #172f4b;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__front {
  background-color: transparent;
}

.card__back {
  background-color: transparent;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  /* display: none; */
}

.card-flipper.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  /* display: none; */
}

.card-flipper.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  /* display: block; */
}

.card-flipper.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-flipper.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  /* display: block; */
}
@media screen and (max-width: 1024px) {
  .card-flipper {
    height: 490px;
  }
}

.site-footer {
  padding: 2rem 0 2rem 0 !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: flex;
  margin-top: -4px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  /* margin-top: -50px !important; */
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: 0;
  border-top: 4px solid #e55c2c;
}

.dropdown-item:hover {
  background-color: transparent;
}

.main-section {
  margin-left: 8rem;
  margin-right: 8rem;
}
.ai-solution-main {
  display: flex;
}
.ai-solutions {
  flex: 1;
}
.about-us-nav{
  width: auto !important;
}

@media screen and (max-width: 650px) {
  .card__front,
  .card__back {
    position: relative;
  }
  .card-flipper {
    height: auto;
  }
  .card-flipper.effect__random.flipped .card__back {
    display: block;
  }
  .card__back {
    display: none;
  }

  .card-flipper.effect__hover:hover .card__front {
    display: none;
  }

  .card-flipper.effect__hover:hover .card__back {
    display: block;
  }
  .main-section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main-section h3 {
    font-size: 16px !important;
  }

  .ai-solution-main {
    display: block;
  }
  .ai-solutions {
    flex: 1;
    margin: 0 !important;
  }

  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    margin-top: -4px;
    text-align: left;
    background-color: transparent;
    border: 0;
    width: 65%;
    margin-left: auto;
  }
  .main-section h2 {
    font-size: 18px !important;
    margin: 2rem;
  }

  .about-us-nav{
    width: 60% !important;
  }
}

.ordered-list {
  list-style: none;
  counter-reset: list;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-card {
  --stop: calc(100% / 2);
  --l: 62%;
  --l2: 88%;
  --h: calc((var(--i) - 1) * (180 / var(--length)));
  --c1: hsl(16, 78%, 54%);
  --c2: hsl(212, 53%, 19%);

  position: relative;
  counter-increment: list;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
}

.list-card::before {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--c1) var(--stop),
    var(--c2) var(--stop)
  );
}

.value-header {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: rgb(70 70 70);
}

.value-header::before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  content: counter(list);
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--c1);
  color: white;
}
.slogan {
  position: relative;
  margin: 1rem 2rem;
}

.slogan:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  color: #e55c2c;
}
.slogan p {
  display: inline;
  font-size: larger;
  margin: 10px;
}

.slogan:after {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  content: close-quote;
  font-size: 4em;
  margin-top: -1.555rem;
  color: #e55c2c;
}

.consulting-image {
  object-position: right;
}


#btn-back-to-top {
  background-color: #e55c2c;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
}

::marker {
  color: #f08762 !important;
}