.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.pr_column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  margin-left: 5%;
  padding: 0 8px;
}
.front-img-flex {
  flex-direction: row;
  justify-content: space-between;
}
.front-img-size {
  width: auto;
}
.div-size {
  width: 48%;
}
.navbar-toggler-icon,
.navbar-toggler-icon::after,
.navbar-toggler-icon::before {
  background-color: #172f4b !important;
}
.service img {
  transition: transform 0.4s;
  height: 10rem;
  padding: 1rem;
}
.service img:hover {
  transform: scale(.85);
}

.service p {
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #172f4b;
  text-transform: uppercase;
}

.service a i {
  color: #e55c2c;
  transition: transform 0.4s;
}
.service a i:hover {
  transform: rotate(90deg);
}
.service-header{
  font-weight: 300;
  
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .pr_column {
    width: 100%;
    display: block;
  }
  .front-img-flex {
    flex-direction: column-reverse;
  }
  .front-img-size {
    width: 65%;
  }
  .div-size {
    width: 100%;
  }
}

.team_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team_container {
  padding: 0 16px;
  color: #172f4b;
}

.team_container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.team_title {
  color: grey;
}

.team_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.team_button:hover {
  background-color: #555;
}
.img-size {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: max-content;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 35rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: max-content;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img{
  width: 15rem;
}


@media screen and (min-width: 768px) {
  .flip-card-front img{
    width: 20rem;
  }
}